services:
  postgres:
    resource_limits:
      cpus: '1.0'
      memory: 2G
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G

  api:
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bjdms-api.rule=Host(`grayhawks.com`) && PathPrefix(`/api`)"
      - "traefik.http.routers.bjdms-api.entrypoints=websecure"
      - "traefik.http.routers.bjdms-api.tls.certresolver=myresolver"

  frontend:
    deploy:
      resources:
        limits:
          memory: 1G
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bjdms-web.rule=Host(`grayhawks.com`)"
      - "traefik.http.routers.bjdms-web.entrypoints=websecure"
      - "traefik.http.routers.bjdms-web.tls.certresolver=myresolver"

  analytics:
    deploy:
      resources:
        limits:
          memory: 2G
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bjdms-analytics.rule=Host(`grayhawks.com`) && PathPrefix(`/analytics`)"
      - "traefik.http.routers.bjdms-analytics.entrypoints=websecure"
      - "traefik.http.routers.bjdms-analytics.tls.certresolver=myresolver"
